{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.(scss|css)",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
